aqua = #B2F5EA
black = #000000
blue = #4299E1
gray = #A0AEC0
green = #48BB78
indigo = #667EEA
lime = #C6F6D5
maroon = #97266D
navy = #2C5282
olive = #975A16
orange = #ED8936
pink = #ED64A6
purple = #9F7AEA
red = #F56565
silver = #EDF2F7
teal = #38B2AC
white = #FFFFFF
yellow = #ECC94B

