:root {
  --aqua: #b2f5ea;
  --black: #000;
  --blue: #4299e1;
  --gray: #a0aec0;
  --green: #48bb78;
  --indigo: #667eea;
  --lime: #c6f6d5;
  --maroon: #97266d;
  --navy: #2c5282;
  --olive: #975a16;
  --orange: #ed8936;
  --pink: #ed64a6;
  --purple: #9f7aea;
  --red: #f56565;
  --silver: #edf2f7;
  --teal: #38b2ac;
  --white: #fff;
  --yellow: #ecc94b;
}

