@import 'suitcss-base';
@import './material';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-blue-grey-800);
  color: var(--color-blue-grey-100);
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  height: 100%;
  line-height: 1.5;
}

a {
  color: var(--color-yellow);
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,strong {
  font-weight: 400;
}

code,pre {
  font-family: Inconsolata, monospace;
}

.Container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  flex: 0 1 auto;
  margin-left: 5.8823529%;
  padding: 4rem 0;
}

.Title-name {
  background-image: url('../img/touch/icon-72.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 2rem;
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.2;
  padding-right: 2.8rem;
  text-transform: uppercase;
}

  .Title-name a {
    color: #FFF;
  }

.Title-description a {
  font-variant-caps: all-small-caps;
}

.Install {
  display: flex;
}

  .Install-item {
    background-repeat: no-repeat;
    background-position: 3rem .6rem;
    background-size: auto 2rem;
    color: var(--color-blue-grey-300);
    display: block;
    padding: 2.88rem 3rem 0 3rem;
  }

  .Install-item--npm {
    background-image: url('../src/npm-logo.svg');
  }

  .Install-item--bower {
    background-image: url('../src/bower-logo.svg');
  }

  .Install-item--github {
    background-image: url('../src/github/GitHub-Mark-Light-64px.png');
  }

.Color {
  opacity: 0.6;
}

.Colors {
  border-collapse: separate;
  border-spacing: 0 1rem;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  width: 100%;
  table-layout: fixed;
}

.Palette {
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 1rem;
}

  .Palette-heading,
  .Palette-color {
    display: flex;
    flex-flow: column;
    flex: 1 1 calc(100 / var(--columns))%;
    font-size: 85%;
    justify-content: center;
    text-align: center;
  }

  .Palette-heading {
    background-color: var(--color-blue-grey-700);
    font-weight: 500;
  }

  .Palette:nth-child(even) .Palette-heading {
    background-color: var(--color-blue-grey-600);
  }

  .Palette-subtitle {
    opacity: 0.6;
  }

  .Palette--css .Color {
    font-family: inherit;
  }

.Footer {
  flex: 0 1 auto;
  font-size: 85%;
  margin-left: 5.8823529%;
  padding: 1rem;
  text-align: right;
}
