@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Rubik, sans-serif;
}

code,
pre {
  font-family: "Roboto Mono", monospace;
}

#hero {
  background-image: url("./dot.svg");
  background-size: 68px 68px;
  background-blend-mode: overlay;
}
