@import 'suitcss-base';
@import '../../material';

@custom-media --medium-viewport (min-width: 820px);
@custom-media --large-viewport (min-width: 1000px);

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-blue-grey-800);
  color: var(--color-blue-grey-100);
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  height: 100%;
  line-height: 1.5;
}

a {
  color: var(--color-yellow);
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,strong {
  font-weight: 400;
}

code,pre {
  font-family: Inconsolata, monospace;
}

.Container {
  height: 100%
}

.Header {
  margin: 0 5.8823529%;
  overflow: hidden !important;
}

.Title {
  padding: 4.32rem 0 1.44rem;
}

@media (--large-viewport) {
  .Title {
    float: left;
  }
}

  .Title-name {
    background-image: url('../img/touch/icon-72.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 2rem;
    display: inline-block;
    font-size: 2.4rem;
    line-height: 1.2;
    padding-right: 2.8rem;
    text-transform: uppercase;
  }

    .Title-name a {
      color: #FFF;
    }

  .Title-description a {
    font-variant-caps: all-small-caps;
  }

.Install {
  overflow: hidden !important;
}

  .Install-item {
    color: var(--color-blue-grey-300);
    display: block;
    float: left;
    width: 33.333%;
    padding: 1.44rem 0.72rem;
    text-align: center;
  }

  .Install-item:first-child {
    padding-left: 0;
    text-align: left;
  }

  .Install-item:last-child {
    padding-right: 0;
    text-align: right;
  }

@media (--medium-viewport) {
  .Install-item {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 3rem auto;
  }
  .Install-item,
  .Install-item:first-child,
  .Install-item:last-child {
    padding-left: 4rem;
    text-align: left;
  }
  .Install-item--npm {
    background-image: url('../img/npm-logo.svg');
  }
  .Install-item--bower {
    background-image: url('../img/bower-logo.svg');
  }
  .Install-item--git {
    background-image: url('../img/github-logo.png');
  }
}

@media (--large-viewport) {
  .Install {
    padding: 4.32rem 0 1.44rem 4.32rem;
  }
  .Install-item,
  .Install-item:first-child {
    background-position: 0 0;
    background-size: auto 2.44rem;
    padding: 2.88rem 1.44rem 0 0;
    text-align: left;
  }
  .Install-item:last-child {
    padding-left: 0;
    padding-right: 0;
  }
}

.Social {
  font-size: 85%;
  margin: 0 5.8823529%;
  overflow: hidden !important;
}

  .Share,
  .Author {
    float: left;
    width: 50%;
    padding: 1.44rem 0.72rem;
  }

  .Share {
    padding-left: 0;
  }

  .Author {
    padding-right: 0;
    text-align: right;
  }

    .Share-item,
    .Author-item {
      margin-right: 1.5rem;
    }

    .Share-item:last-child,
    .Author-item:last-child {
      margin-right: 0;
    }

.Colors {
  overflow: hidden !important;
}

  .Color {
    display: block;
    padding: 1rem 0.5rem;
  }

  .Palette {
    float: left;
    width: 25%;
    margin: 1.44rem 0;
    padding: 0 0.5rem;
  }

  .Palette:first-child {
    padding-left: 0;
  }

  .Palette:last-child {
    padding-right: 0;
  }

    .Palette-heading,
    .Palette-color {
      font-size: 1.2rem;
      text-align: center;
    }

    .Palette-heading {
      background-color: var(--color-blue-grey-600);
    }

    .Palette-title {
      font-weight: 500;
    }

    .Palette-subtitle {
      opacity: 0.6;
      font-size: 85%;
    }

    .Palette-color .Color {
      opacity: 0.6;
    }

    .Palette:first-child .Palette-heading {
      background-color: var(--color-blue-grey-700);
    }

    .Palette:first-child .Color {
      font-family: inherit;
    }

  @media (--large-viewport) {
    .Palette {
      float: none;
      width: auto;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }
    .Palette-heading,
    .Palette-color {
      float: left;
      width: calc(100 / var(--columns))%;
      height: 8rem;
    }
    .Palette-heading .Color {
      padding: 2.335rem 0;
    }
    .Palette-color .Color {
      padding: 3.1rem 0;
    }

    .got-flex-box .Container {
      display: flex;
      flex-flow: column;
    }
    .got-flex-box .Header,
    .got-flex-box .Social {
      flex: 0 0 auto;
    }
    .got-flex-box .Header {
      order: 1;
      padding-bottom: 1.44rem;
    }
    .got-flex-box .Social {
      order: 3;
    }
    .got-flex-box .Colors {
      display: flex;
      flex-flow: column;
      flex: 1 0 auto;
      order: 2;
    }
    .got-flex-box .Palette {
      display: flex;
      flex: 1 1 auto;
      margin-bottom: 0;
    }
    .got-flex-box .Palette-heading,
    .got-flex-box .Palette-color {
      display: flex;
      justify-content: center;
      flex-flow: column;
      height: auto;
    }
    .got-flex-box .Palette-heading .Color,
    .got-flex-box .Palette-color .Color {
      padding: 0;
    }
  }
