$alizarin: #e74c3c;
$amethyst: #9b59b6;
$aqua: #3498db;
$asbestos: #7f8c8d;
$belizeHole: #2980b9;
$blue: #2980b9;
$carrot: #e67e22;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$emerald: #2ecc71;
$fuchsia: #9b59b6;
$gray: #95a5a6;
$green: #27ae60;
$greenSea: #16a085;
$lime: #2ecc71;
$midnightBlue: #2c3e50;
$navy: #2c3e50;
$nephritis: #27ae60;
$orange: #f39c12;
$peterRiver: #3498db;
$pomegranate: #c0392b;
$pumpkin: #d35400;
$purple: #8e44ad;
$red: #c0392b;
$silver: #bdc3c7;
$sunFlower: #f1c40f;
$teal: #16a085;
$turquoise: #1abc9c;
$wetAsphalt: #34495e;
$wisteria: #8e44ad;
$yellow: #f1c40f;

