@americanRiver: #636E72;
@aqua: #81ECEC;
@black: #2D3436;
@blue: #74B9FF;
@brightYarrow: #FDCB6E;
@chiGong: #D63031;
@cityLights: #DFE6E9;
@draculaOrchid: #2D3436;
@electronBlue: #0984E3;
@exodusFruit: #6C5CE7;
@fadedPoster: #81ECEC;
@firstDate: #FAB1A0;
@fuchsia: #E84393;
@gray: #636E72;
@green: #00B894;
@greenDarnerTail: #74B9FF;
@lightGreenishBlue: #55EFC4;
@lime: #00CEC9;
@maroon: #D63031;
@mintLeaf: #00B894;
@navy: #0984E3;
@olive: #FDCB6E;
@orange: #E17055;
@orangeVille: #E17055;
@pico8Pink: #FD79A8;
@pinkGlamour: #FF7675;
@prunusAvium: #E84393;
@purple: #6C5CE7;
@red: #FF7675;
@robinsEggBlue: #00CEC9;
@shyMoment: #A29BFE;
@silver: #B2BEC3;
@soothingBreeze: #B2BEC3;
@sourLemon: #FFEAA7;
@teal: #55EFC4;
@white: #DFE6E9;
@yellow: #FFEAA7;

