aqua = #7ED6DF
beekeeper = #F6E58D
black = #000000
blue = #4834D4
blurple = #4834D4
carminePink = #EB4D4B
coastalBreeze = #DFF9FB
deepCove = #130F40
deepKoamaru = #30336B
exodusFruit = #686DE0
fuchsia = #E056FD
gray = #95AFC0
green = #6AB04C
greenlandGreen = #22A6B3
heliotrope = #E056FD
hintOfIcePack = #C7ECEE
juneBud = #BADC58
lime = #BADC58
maroon = #EB4D4B
middleBlue = #7ED6DF
navy = #130F40
olive = #F0932B
orange = #F9CA24
pinkGlamour = #FF7979
pureApple = #6AB04C
purple = #BE2EDD
quinceJelly = #F0932B
red = #FF7979
silver = #C7ECEE
soaringEagle = #95AFC0
spicedNectarine = #FFBE76
steelPink = #BE2EDD
teal = #000000
turbo = #F9CA24
white = #DFF9FB
wizardGrey = #535C68
yellow = #F6E58D

