:root {
  --amour: #ee5253;
  --aqua: #ff6b6b;
  --aquaVelvet: #01a3a4;
  --black: #222f3e;
  --bleuDeFrance: #2e86de;
  --blue: #2e86de;
  --bluebell: #341f97;
  --casandoraYellow: #ff9ff3;
  --cyanite: #0abde3;
  --darkMountainMeadow: #ee5253;
  --doubleDragonSkin: #0abde3;
  --fuchsia: #0abde3;
  --fuelTown: #576574;
  --gray: #8395a7;
  --green: #ee5253;
  --imperialPrimer: #222f3e;
  --jadeDust: #00d2d3;
  --jigglyPuff: #ff6b6b;
  --joustBlue: #54a0ff;
  --lianHongLotusPink: #0abde3;
  --lightBlueBallerina: #c8d6e5;
  --lime: #48dbfb;
  --maroon: #ee5253;
  --megaman: #ff6b6b;
  --nasuPurple: #5f27cd;
  --navy: #341f97;
  --olive: #000;
  --orange: #0abde3;
  --pastelRed: #feca57;
  --purple: #5f27cd;
  --red: #feca57;
  --silver: #c8d6e5;
  --stormPetrel: #8395a7;
  --teal: #01a3a4;
  --white: #000;
  --wildCaribbeanGreen: #48dbfb;
  --yellow: #ff9ff3;
}

