$aqua: #82CCDD;
$auroraGreen: #78E08F;
$azraqBlue: #4A69BD;
$black: #000000;
$blue: #1E3799;
$carrotOrange: #E58E26;
$darkSapphire: #0C2461;
$dupain: #60A3BC;
$flatFresh: #FAD390;
$forestBlues: #0A3D62;
$fuchsia: #000000;
$goodSamaritan: #3C6382;
$gray: #000000;
$green: #78E08F;
$icelandPoppy: #FA983A;
$jalapenoRed: #B71540;
$lime: #B8E994;
$livid: #6A89CC;
$mandarinRed: #E55039;
$maroon: #B71540;
$melonMelody: #F8C291;
$navy: #0C2461;
$olive: #E58E26;
$orange: #FA983A;
$paradiseGreen: #B8E994;
$purple: #000000;
$red: #EB2F06;
$reefEncounter: #079992;
$silver: #000000;
$spray: #82CCDD;
$squashBlossom: #F6B93B;
$teal: #079992;
$tomatoRed: #EB2F06;
$waterfall: #38ADA9;
$white: #000000;
$yellow: #F6B93B;
$yueGuangLanBlue: #1E3799;

