algalFuel = #20BF6B
aqua = #45AAF2
beniukonBronze = #FA8231
black = #000000
blue = #4B7BEC
blueGrey = #778CA3
blueHorizon = #4B6584
boyzone = #2D98DA
c64NTSC = #4B7BEC
desire = #EB3B5A
flirtatious = #FED330
fuchsia = #A55EEA
fusionRed = #FC5C65
gloomyPurple = #8854D0
gray = #778CA3
green = #20BF6B
highBlue = #45AAF2
innuendo = #A5B1C2
lighterPurple = #A55EEA
lime = #26DE81
maroon = #EB3B5A
maximumBlueGreen = #2BCBBA
navy = #3867D6
nycTaxi = #F7B731
olive = #FA8231
orange = #FD9644
orangeHibiscus = #FD9644
purple = #8854D0
red = #FC5C65
reptileGreen = #26DE81
royalBlue = #3867D6
silver = #A5B1C2
teal = #0FB9B1
turquoiseTopaz = #0FB9B1
twinkleBlue = #D1D8E0
white = #000000
yellow = #FED330

