alizarin = #E74C3C
amethyst = #9B59B6
aqua = #3498DB
asbestos = #7F8C8D
belizeHole = #2980B9
blue = #2980B9
carrot = #E67E22
clouds = #ECF0F1
concrete = #95A5A6
emerald = #2ECC71
fuchsia = #9B59B6
gray = #95A5A6
green = #27AE60
greenSea = #16A085
lime = #2ECC71
midnightBlue = #2C3E50
navy = #2C3E50
nephritis = #27AE60
orange = #F39C12
peterRiver = #3498DB
pomegranate = #C0392B
pumpkin = #D35400
purple = #8E44AD
red = #C0392B
silver = #BDC3C7
sunFlower = #F1C40F
teal = #16A085
turquoise = #1ABC9C
wetAsphalt = #34495E
wisteria = #8E44AD
yellow = #F1C40F

