@aqua: #25ccf7;
@black: #2c3a47;
@blue: #1b9cfc;
@bluebell: #3b3b98;
@brightUbe: #d6a2e8;
@clearChill: #1b9cfc;
@endingNavyBlue: #182c61;
@fallingStar: #cad3c8;
@fieryFuchsia: #b33771;
@fuchsia: #b33771;
@georgiaPeach: #fd7272;
@gray: #cad3c8;
@green: #58b19f;
@highlighterLavender: #82589f;
@honeyGlow: #25ccf7;
@keppel: #58b19f;
@lime: #55e6c1;
@magentaPurple: #6d214f;
@maroon: #NaN;
@navy: #182c61;
@oasisStream: #9aecdb;
@olive: #25ccf7;
@orange: #f97f51;
@orchidOrange: #fea47f;
@pineGlade: #bdc581;
@purple: #6d214f;
@red: #fc427b;
@richGardenia: #f97f51;
@sarawakWhitePepper: #f8efba;
@sasquatchSocks: #fc427b;
@shipsOfficer: #2c3a47;
@silver: #cad3c8;
@spiroDiscoBall: #25ccf7;
@sweetGarden: #55e6c1;
@teal: #58b19f;
@white: #000;
@yellow: #000;

