:root {
  --alamedaOchre: #cc8e35;
  --aqua: #34ace0;
  --black: #000;
  --blue: #227093;
  --c84Purple: #706fd3;
  --celestialGreen: #33d9b2;
  --chleanFire: #cd6133;
  --crocodileTooth: #d1ccc0;
  --desert: #ccae62;
  --devilBlue: #227093;
  --eyeOfNewt: #b33939;
  --fluorescentRed: #ff5252;
  --fuchsia: #000;
  --gray: #84817a;
  --green: #218c74;
  --greyPorcelain: #84817a;
  --hotStone: #aaa69d;
  --jacksonsPurple: #40407a;
  --liberty: #474787;
  --lime: #33d9b2;
  --luckyPoint: #2c2c54;
  --mandarinSorbet: #ffb142;
  --maroon: #b33939;
  --navy: #2c2c54;
  --olive: #cc8e35;
  --orange: #ff793f;
  --palmSpringsSplash: #218c74;
  --purple: #40407a;
  --red: #ff5252;
  --silver: #d1ccc0;
  --spicedButternut: #ffda79;
  --summerSky: #34ace0;
  --swanWhite: #f7f1e3;
  --syntheticPumpkin: #ff793f;
  --teal: #218c74;
  --white: #f7f1e3;
  --yellow: #ffda79;
}

