$aqua: #4bcffa;
$black: #1e272e;
$blackPearl: #1e272e;
$blue: #NaN;
$chromeYellow: #ffa801;
$darkPeriwinkle: #575fcf;
$freeSpeechBlue: #3c40c6;
$freshTurquoise: #34e7e4;
$fuchsia: #000;
$goodNight: #485460;
$gray: #808e9b;
$green: #05c46b;
$greenTeal: #05c46b;
$highlighterPink: #ef5777;
$hintOfElusiveBlue: #d2dae2;
$jadeDust: #00d8d6;
$lime: #0be881;
$londonSquare: #808e9b;
$maroon: #NaN;
$megaman: #4bcffa;
$mintyGreen: #0be881;
$narenjiOrange: #ffc048;
$navy: #3c40c6;
$olive: #ffa801;
$orange: #ffc048;
$purple: #575fcf;
$red: #ff5e57;
$redOrange: #ff3f34;
$silver: #d2dae2;
$sizzlingRed: #f53b57;
$spiroDiscoBall: #0fbcf9;
$sunsetOrange: #ff5e57;
$teal: #05c46b;
$vibrantYellow: #ffd32a;
$white: #000;
$yellow: #ffdd59;
$yrielYellow: #ffdd59;

