$aqua: #7EFFF5;
$balticSea: #3D3D3D;
$black: #3D3D3D;
$blue: #17C0EB;
$brightLilac: #CD84F1;
$dornYellow: #FFF200;
$electricBlue: #7EFFF5;
$fuchsia: #CD84F1;
$gray: #000000;
$green: #3AE374;
$hammamBlue: #67E6DC;
$lightIndigo: #7158E2;
$lightPurple: #C56CF0;
$lightRed: #FF4D4D;
$lightSlateBlue: #7D5FFF;
$lime: #32FF7E;
$mandarinSorbet: #FFAF40;
$maroon: #FF3838;
$navy: #7158E2;
$neonBlue: #18DCFF;
$olive: #FF9F1A;
$orange: #FFAF40;
$prettyPlease: #FFCCCC;
$purple: #C56CF0;
$radiantYellow: #FF9F1A;
$red: #FF4D4D;
$redOrange: #FF3838;
$shadowedSteel: #4B4B4B;
$silver: #000000;
$spiroDiscoBall: #17C0EB;
$teal: #67E6DC;
$unmellowYellow: #FFFA65;
$weirdGreen: #3AE374;
$white: #000000;
$wintergreen: #32FF7E;
$yellow: #FFFA65;
$youngSalmon: #FFB8B8;

