$aqua: #7efff5;
$balticSea: #3d3d3d;
$black: #3d3d3d;
$blue: #17c0eb;
$brightLilac: #cd84f1;
$dornYellow: #fff200;
$electricBlue: #7efff5;
$fuchsia: #cd84f1;
$gray: #000;
$green: #3ae374;
$hammamBlue: #67e6dc;
$lightIndigo: #7158e2;
$lightPurple: #c56cf0;
$lightRed: #ff4d4d;
$lightSlateBlue: #7d5fff;
$lime: #32ff7e;
$mandarinSorbet: #ffaf40;
$maroon: #ff3838;
$navy: #7158e2;
$neonBlue: #18dcff;
$olive: #ff9f1a;
$orange: #ffaf40;
$prettyPlease: #fcc;
$purple: #c56cf0;
$radiantYellow: #ff9f1a;
$red: #ff4d4d;
$redOrange: #ff3838;
$shadowedSteel: #4b4b4b;
$silver: #000;
$spiroDiscoBall: #17c0eb;
$teal: #67e6dc;
$unmellowYellow: #fffa65;
$weirdGreen: #3ae374;
$white: #000;
$wintergreen: #32ff7e;
$yellow: #fffa65;
$youngSalmon: #ffb8b8;

