:root {
  --aqua: #7fdbff;
  --black: #111;
  --blue: #0074d9;
  --fuchsia: #f012be;
  --gray: #aaa;
  --green: #2ecc40;
  --lime: #01ff70;
  --maroon: #85144b;
  --navy: #001f3f;
  --olive: #3d9970;
  --orange: #ff851b;
  --purple: #b10dc9;
  --red: #ff4136;
  --silver: #ddd;
  --teal: #39cccc;
  --white: #fff;
  --yellow: #ffdc00;
}

