:root {
  --beekeeper: #F6E58D;
  --blurple: #4834D4;
  --carminePink: #EB4D4B;
  --coastalBreeze: #DFF9FB;
  --deepCove: #130F40;
  --deepKoamaru: #30336B;
  --exodusFruit: #686DE0;
  --greenlandGreen: #22A6B3;
  --heliotrope: #E056FD;
  --hintOfIcePack: #C7ECEE;
  --juneBud: #BADC58;
  --middleBlue: #7ED6DF;
  --pinkGlamour: #FF7979;
  --pureApple: #6AB04C;
  --quinceJelly: #F0932B;
  --soaringEagle: #95AFC0;
  --spicedNectarine: #FFBE76;
  --steelPink: #BE2EDD;
  --turbo: #F9CA24;
  --wizardGrey: #535C68;
  --aqua: #7ED6DF;
  --black: #000000;
  --blue: #4834D4;
  --fuchsia: #E056FD;
  --gray: #95AFC0;
  --green: #6AB04C;
  --lime: #BADC58;
  --maroon: #EB4D4B;
  --navy: #130F40;
  --olive: #F0932B;
  --orange: #F9CA24;
  --purple: #BE2EDD;
  --red: #FF7979;
  --silver: #C7ECEE;
  --teal: #000000;
  --white: #DFF9FB;
  --yellow: #F6E58D;
}

