$blueNights: #273C75;
$blueberrySoda: #F5F6FA;
$chainGangGrey: #DCDDE1;
$downloadProgress: #FBC531;
$electromagnetic: #192A56;
$harleyDavidsonOrange: #353B48;
$hintOfPensive: #C23616;
$lynxWhite: #E84118;
$mattPurple: #0097E6;
$mazarineBlue: #7F8FA6;
$nanohanachaGold: #8C7AE6;
$nasturcianFlower: #40739E;
$naval: #44BD32;
$periwinkle: #9C88FF;
$picoVoid: #718093;
$protossPylon: #00A8FF;
$riseNShine: #9C88FF;
$seabrook: #4CD137;
$skirretGreen: #E1B12C;
$vanadylBlue: #487EB0;
$aqua: #00A8FF;
$black: #192A56;
$blue: #487EB0;
$fuchsia: #000000;
$gray: #DCDDE1;
$green: #E1B12C;
$lime: #FBC531;
$maroon: #353B48;
$navy: #7F8FA6;
$olive: #000000;
$orange: #8C7AE6;
$purple: #0097E6;
$red: #40739E;
$silver: #C23616;
$teal: #E1B12C;
$white: #E84118;
$yellow: #9C88FF;

