:root {
  --androidGreen: #A3CB38;
  --baraRed: #ED4C67;
  --blueMartina: #12CBC4;
  --circumorbitalRign: #5758BB;
  --energos: #C4E538;
  --forgottenPurple: #9980FA;
  --hollyhock: #833471;
  --lavenderRose: #FDA7DF;
  --lavenderTea: #D980FA;
  --magentaPurple: #5758BB;
  --mediterraneanSea: #1289A7;
  --merchantMarineBlue: #0652DD;
  --pixelatedGrass: #009432;
  --puffinsBill: #EE5A24;
  --radiantYellow: #F79F1F;
  --redPigment: #EA2027;
  --sunflower: #FFC312;
  --turkishAqua: #006266;
  --twentyThousandLeaguesUnderTheSea: #1B1464;
  --veryBerry: #B53471;
  --aqua: #12CBC4;
  --black: #000000;
  --blue: #0652DD;
  --fuchsia: #D980FA;
  --gray: #000000;
  --green: #009432;
  --lime: #A3CB38;
  --maroon: #5758BB;
  --navy: #1B1464;
  --olive: #000000;
  --orange: #EE5A24;
  --purple: #B53471;
  --red: #EA2027;
  --silver: #000000;
  --teal: #006266;
  --white: #000000;
  --yellow: #FFC312;
}

