:root {
  --balticSea: #3D3D3D;
  --brightLilac: #CD84F1;
  --dornYellow: #FFF200;
  --electricBlue: #7EFFF5;
  --hammamBlue: #67E6DC;
  --lightIndigo: #7158E2;
  --lightPurple: #C56CF0;
  --lightRed: #FF4D4D;
  --lightSlateBlue: #7D5FFF;
  --mandarinSorbet: #FFAF40;
  --neonBlue: #18DCFF;
  --prettyPlease: #FFCCCC;
  --radiantYellow: #FF9F1A;
  --redOrange: #FF3838;
  --shadowedSteel: #4B4B4B;
  --spiroDiscoBall: #17C0EB;
  --unmellowYellow: #FFFA65;
  --weirdGreen: #3AE374;
  --wintergreen: #32FF7E;
  --youngSalmon: #FFB8B8;
  --aqua: #7EFFF5;
  --black: #3D3D3D;
  --blue: #17C0EB;
  --fuchsia: #CD84F1;
  --gray: #000000;
  --green: #3AE374;
  --lime: #32FF7E;
  --maroon: #FF3838;
  --navy: #7158E2;
  --olive: #FF9F1A;
  --orange: #FFAF40;
  --purple: #C56CF0;
  --red: #FF4D4D;
  --silver: #000000;
  --teal: #67E6DC;
  --white: #000000;
  --yellow: #FFFA65;
}

