:root {
  --black: #0A0A0A;
  --grey: #7A7A7A;
  --white: #FFFFFF;
  --orange: #FF470F;
  --yellow: #FFDD57;
  --green: #48C774;
  --blue: #3273DC;
  --purple: #B86BFF;
  --red: #F14668;
  --aqua: aqua;
  --fuchsia: fuchsia;
  --gray: #7A7A7A;
  --lime: lime;
  --maroon: maroon;
  --navy: navy;
  --olive: olive;
  --silver: silver;
  --teal: teal;
}

